body {
    background-color: #34495E;
}
p {
    color: white;
    font-size: 40px;
    font-family: helvetica;
    text-align: center;
}
.yoshi {
    width: 100%;
    text-align: center;
}
img {
    width: 35%;
    margin: 0 auto;
}
