body {
    background-color: #292F33;
}
p {
    color: #FF6B0B;
    font-size: 30px;
    font-family: helvetica;
    text-align: center;
}
.blueprint {
    width: 100%;
    text-align: center;
}
img {
    width: 70%;
    margin: 0 auto;
}
